[Desktop Entry]
Name=Firefox
GenericName=Firefox
Exec=/opt/firefox/firefox %u
Terminal=false
Icon=firefox
Type=Application
Categories=Application;Network;X-Developer;WebBrowser;
Comment=Firefox Web Browser.
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
