[Desktop Entry]
Name=Textadept
GenericName=Textadept
Exec=sh -c "\$HOME/.textadept/textadept/textadept"
Icon=textadept.png
Type=Application
Categories=Categories=Utility;TextEditor;
Terminal=false
