! Changes take effect after running: xrdb -merge ~/.Xresources

! Hidpi on mars
#ifdef SRVR_mars
	Xft.dpi: 150
#else
	Xft.dpi: 96
#endif
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.termName: rxvt-256color
URxvt.cursorBlink: 1
URxvt.scrollBar: off

! Font
URxvt.font: xft:Hack:size=9, xft:Terminus:size=13, xft:DejaVuSansMono:size=10, xft:Symbola:size=10
URxvt.letterSpace: -1
! URxvt.font: xft:Dejavu Sans Mono Book:size=10,\
!            xft:Dejavu Sans Mono:size=12,\
!            xft:symbola:size=12,\
!            -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
! URxvt.font: xft:DejaVu Sans Mono:pixelsize=14
! URxvt.boldFont: xft:DejaVu Sans Mono:bold:pixelsize=14

! Disables the annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755: False

! Copy / Paste
URxvt.perl-ext-common: default,clipboard,matcher
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
! if set to true, the clipboard is automatically updated whenever the PRIMARY selection changes
URxvt.clipboard.autocopy: True

! Open urls in browser with Control-Click
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: C1

! Transparent
URxvt.transparent: true
URxvt.shading: 15
URxvt.fading: 25

! Cursor
URxvt.cursorColor:        #00aa00
URxvt.cursorColor2:       #120d11

! Mouse
URxvt.pointerColor:       #ef2929
URxvt.pointerColor2:      black
URxvt.pointerBlank:       true

! Color palette
! URxvt*background:         #00141a
URxvt*background:         #00060f
URxvt*foreground:         #eeeeec
URxvt*cursorColor:        #8ae234
! foreground color for underline
URxvt*colorUL:            #8ae234
! line color for underline
URxvt*underlineColor:     #00aa00
! black dark/light
URxvt*color0:             #2e3436
URxvt*color8:             #353535
! red dark/light
URxvt*color1:             #cc0000
URxvt*color9:             #ef2929
! green dark/light
URxvt*color2:             #00aa00
URxvt*color10:            #8ae234
! yellow dark/light
URxvt*color3:             #edd400
URxvt*color11:            #fce94f
! blue dark/light
URxvt*color4:             #2b5c9c
URxvt*color12:            #8abaed
! magenta dark/light
URxvt*color5:             #7a4383
URxvt*color13:            #de35de
! cyan dark/light
URxvt*color6:             #07c7ca
URxvt*color14:            #63e9e9
! white dark/light
URxvt*color7:             #d3d7cf
URxvt*color15:            #eeeeec

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
