"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    minimumWordLength: 1
  "command-palette":
    preserveLastSearch: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "language-java"
      "metrics"
      "package-generator"
      "welcome"
      "wrap-guide"
      "deprecation-cop"
      "dev-live-reload"
      "autoflow"
      "language-clojure"
      "language-csharp"
      "language-objective-c"
      "language-ruby"
      "language-ruby-on-rails"
      "spell-check"
    ]
    projectHome: "/data/silvus/dev"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 120
    showIndentGuide: false
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "git-diff":
    showIconsInEditorGutter: true
  "one-dark-ui":
    layoutMode: "Compact"
