# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
# 'atom-workspace':
#   'ctrl-shift-/': 'editor:toggle-line-comments'

'.platform-linux atom-text-editor':
  'ctrl-t': 'application:new-file'
  'ctrl-d': 'editor:delete-line'
  'ctrl-e': 'find-and-replace:select-next'
  'ctrl-u': 'editor:lower-case'
  'ctrl-shift-u': 'editor:upper-case'
  'ctrl-shift-e': 'find-and-replace:select-all'
  'ctrl-shift-l': 'editor:split-selections-into-lines'
  'ctrl-alt-s': 'settings-view:open'
  'ctrl-q': 'window:close'
  'ctrl-shift-q': 'application:quit'
  'ctrl-alt-p': 'application:reopen-project'
  'f1': 'window:toggle-menu-bar'
  'f2': 'tree-view:toggle'

# Already bind
# 'ctrl-shift-t': 'pane:reopen-closed-item'
# 'ctrl-shift-l'Convert a multi-line selection into multiple cursors

# From ST3
# { "keys": ["ctrl+shift+t"], "command": "new_pane" },
# { "keys": ["ctrl+keypad0"], "command": "focus_side_bar" },
# { "keys": ["ctrl+shift+="], "command": "reindent" },
# { "keys": ["ctrl+!"], "command": "show_panel", "args": {"panel": "console", "toggle": true} },
# { "keys": ["f3"], "command": "toggle_minimap" },
# { "keys": ["f4"], "command": "next_bookmark" },
# { "keys": ["shift+f4"], "command": "prev_bookmark" },
# { "keys": ["ctrl+f4"], "command": "toggle_bookmark" },
# { "keys": ["ctrl+shift+f4"], "command": "clear_bookmarks" },
# { "keys": ["alt+f4"], "command": "select_all_bookmarks" },
# { "keys": ["f5"], "command": "build" },
# { "keys": ["f12"], "command": "toggle_setting", "args": {"setting": "spell_check"} },
